:javascript
  $(function(){
    // Queue full hero info
    setTimeout(function(){
      $('#homehero-wrap').addClass('loaded');

      setTimeout(function(){
        $('#remaking').addClass('visible');
      }, 1000);
    }, 3000);

    $('#remaking').bind('inview', function(e, isInView, visiblePartX, visiblePartY){
      if(visiblePartY === 'bottom'){
        $(this).addClass('visible');
      }
    });
    
    $('#plan').bind('inview', function(e, isInView){
      if(isInView){
        $(this).addClass('visible');
      }
    });


    // Sharing
    $('.fbshare').click(function(e){
      e.preventDefault();
      FB.ui({
        method: 'share',
        href: 'http://silverlakeforward.com',
      }, function(response){});
    });

  });

#homehero-wrap.cf
  #homehero
    #homehero-img{ style: "background-image:url('{{cms:file:homehero.jpg}}');" }
    #homehero-overlay

    #homehero-titlewrap
      .homehero-title
        {{cms:file:logo-color.png:image}}
        Silver Lake Forward
      .homehero-subtitle
        We're a nonprofit dedicated to making the Silver Lake Reservoir into a <strong>world-class public space</strong>, celebrating access,<br />beauty and conservation. 

  #homerenderings
    %div{ style: "background-image:url('{{cms:file:silverlakeforward-rendering1.jpg}}');" }
      %a.boxlink{ href: '{{cms:file:silverlakeforward-renderings.zip}}' }
      .homerenderings-overlay Download renderings
    %div{ style: "background-image:url('{{cms:file:silverlakeforward-rendering2.jpg}}');" }
      %a.boxlink{ href: '{{cms:file:silverlakeforward-renderings.zip}}' }
      .homerenderings-overlay Download renderings
    .home-signup
      :javascript
        $(document).ready(function(){
          $('#mc-embedded-subscribe').click(function(){
            $('.shift').fadeOut(function(){
              $(this).html('<p>Check your email...</p>');
              $(this).fadeIn();
            });
          });
        });

      .shift
        %h1 Join us!
        .frameline
        / Begin MailChimp Signup Form
        %link{:href => "//cdn-images.mailchimp.com/embedcode/classic-081711.css", :rel => "stylesheet", :type => "text/css"}
          #mc_embed_signup
            %form#mc-embedded-subscribe-form.validate{:action => "//silverlakeforward.us12.list-manage.com/subscribe/post?u=c72886977fdc6b7bd87b98704&amp;id=f36afecfb5", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
              #mc_embed_signup_scroll
                .mc-field-group
                  %input#mce-EMAIL.required.email{:name => "EMAIL", :type => "email", :value => "", :placeholder => 'Email'}
                .mc-field-group
                  %input#mce-FNAME{:name => "FNAME", :type => "text", :value => "", :placeholder => 'First name'}
                .mc-field-group
                  %input#mce-LNAME{:name => "LNAME", :type => "text", :value => "", :placeholder => 'Last name'}
                .mc-field-group
                  %input#mce-MMERGE3{:name => "MMERGE3", :type => "text", :value => "", :placeholder => 'Zip Code'}
                #mce-responses.clear
                  #mce-error-response.response{:style => "display:none"}
                  #mce-success-response.response{:style => "display:none"}
                / real people should not fill this in and expect good things - do not remove this or risk form bot signups
                %div{"aria-hidden" => "true", :style => "position: absolute; left: -5000px;"}
                  %input{:name => "b_c72886977fdc6b7bd87b98704_f36afecfb5", :tabindex => "-1", :type => "text", :value => ""}/
                .clear
                  %input#mc-embedded-subscribe.button{:name => "subscribe", :type => "submit", :value => "JOIN"}/
          %script{:src => "//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js", :type => "text/javascript"}
          :javascript
            (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='zip';}(jQuery));var $mcj = jQuery.noConflict(true);


.section.map.cf
  {{cms:file:silverlakeforward-map.jpg:image}}

  .overlay#remaking
    %h1 Remaking the lake
      
    %p The Silver Lake Reservoirs system is being brought offline and will no longer store drinking water for Los Angeles.  This creates an incredible opportunity for the City of Los Angeles, the Department of Water and Power, our elected officials, our design community, and for the residents of Los Angeles to create an incredible new public resource.
    .overlay-share
      Share this
      %a.fbshare{href: '#'} {{cms:file:icon-facebook.svg:image}}
      %a.twitter-share-button{ 'href' => 'https://twitter.com/intent/tweet', 'data-size' => 'large' }
        %img{ src: '{{cms:file:icon-twitter.svg}}', style: 'width:34px; height:29px;'}

.section.plan.cf
  {{cms:file:silverlakeforward-rendering3.jpg:image}}

  .overlay#plan
    %h1 Our plan
    %p We are encouraging the City to create a robust community planning process and feasibility study to determine the future of this amazing public asset. In the short term, we're asking DWP to implement the following changes while the reservoir is drained/ during 2016:
    %ul
      %li - Remove the fences surrounding the reservoir
      %li - Remove the asphalt inside the reservoir basin wherever possible
      %li - Add a new restroom or provide access to an existing on-site restroom facility for the users of the Silver Lake Meadow
    .overlay-share
      Share this
      %a.fbshare{href: '#'} {{cms:file:icon-facebook.svg:image}}
      %a.twitter-share-button{ 'href' => 'https://twitter.com/intent/tweet', 'data-size' => 'large' }
        %img{ src: '{{cms:file:icon-twitter.svg}}', style: 'width:34px; height:29px;'}

{{cms:partial:comfy/blog/posts/homepost}}

.section#board
  .centercolumn
    .board-header
      %h1 Our board
      %p In the tumultuous business of cutting-in and attending to a whale, there is much running backwards and forwards among the crew. Questions? Please reach out to <a href="mailto:contact@silverlakeforward.com">contact@silverlakeforward.com</a>

    %ul.cf
      %li
        %dl
          %dt Catherine Geanuracos
          %dd Catherine is has a background in snow shoe manufacturing and is a former astronaut. After crash-ladning an F16 in Silverlake at the age of 16, she decided never to leave.

      %li
        %dl
          %dt Catherine Geanuracos
          %dd Catherine is has a background in snow shoe manufacturing and is a former astronaut. After crash-ladning an F16 in Silverlake at the age of 16, she decided never to leave.

      %li
        %dl
          %dt Catherine Geanuracos
          %dd Catherine is has a background in snow shoe manufacturing and is a former astronaut. After crash-ladning an F16 in Silverlake at the age of 16, she decided never to leave.

      %li
        %dl
          %dt Catherine Geanuracos
          %dd Catherine is has a background in snow shoe manufacturing and is a former astronaut. After crash-ladning an F16 in Silverlake at the age of 16, she decided never to leave.

      %li
        %dl
          %dt Catherine Geanuracos
          %dd Catherine is has a background in snow shoe manufacturing and is a former astronaut. After crash-ladning an F16 in Silverlake at the age of 16, she decided never to leave.

      %li
        %dl
          %dt Catherine Geanuracos
          %dd Catherine is has a background in snow shoe manufacturing and is a former astronaut. After crash-ladning an F16 in Silverlake at the age of 16, she decided never to leave.