:javascript
  $(function(){
    setTimeout(function(){
      $('#homehero-wrap').addClass('loaded');

      setTimeout(function(){
        $('#remaking, #plan').addClass('visible');
      }, 1000);
    }, 3000);
  });

#homehero-wrap
  #homehero
    #homehero-img{ style: "background-image:url('{{cms:file:homehero.jpg}}');" }
    #homehero-overlay

    #homehero-titlewrap
      .homehero-title Silver Lake Forward
      .homehero-subtitle
        We're a nonprofit dedicated to making the Silver Lake Reservoir into a <strong>world-class public space</strong>, celebrating access,<br />beauty and conservation. 

  #homerenderings
    %div{ style: "background-image:url('{{cms:file:silverlakeforward-rendering1.jpg}}');" }
      .homerenderings-overlay Download renderings
    %div{ style: "background-image:url('{{cms:file:silverlakeforward-rendering2.jpg}}');" }
      .homerenderings-overlay Download renderings
    %div
      %h1 Join us

.section.map.cf
  {{cms:file:silverlakeforward-map.jpg:image}}

  .overlay#remaking
    %h1 Remaking the lake
    %p The Silver Lake Reservoirs system is being brought offline and will no longer store drinking water for Los Angeles.  This creates an incredible opportunity for the City of Los Angeles, the Department of Water and Power, our elected officials, our design community, and for the residents of Los Angeles to create an incredible new public resource.
    .overlay-share
      Share this
      {{cms:file:icon-facebook.svg:image}}
      %img{ src: '{{cms:file:icon-twitter.svg}}', style: 'width:34px; height:29px;'}

.section.plan.cf
  {{cms:file:silverlakeforward-rendering3.jpg:image}}

  .overlay#plan
    %h1 Our plan
    %p We are encouraging the City to create a robust community planning process and feasibility study to determine the future of this amazing public asset. In the short term, we're asking DWP to implement the following changes while the reservoir is drained/ during 2016:
    %ul
      %li - Remove the fences surrounding the reservoir
      %li - Remove the asphalt inside the reservoir basin wherever possible
      %li - Add a new restroom or provide access to an existing on-site restroom facility for the users of the Silver Lake Meadow
    .overlay-share
      Share this
      {{cms:file:icon-facebook.svg:image}}
      %img{ src: '{{cms:file:icon-twitter.svg}}', style: 'width:34px; height:29px;'}

.section#news
  .centercolumn
    This is where news goes

.section#board