%h1 What is MyFig?
%p The Figueroa Corridor Streetscape project (MyFigueroa) will transform the Figueroa Corridor into a complete, multimodal street that better serves the needs of pedestrians, bicyclists, transit riders, and drivers alike.
%p We will accomplish this through improvements in three major areas:

%ul
  %li Adding better signalization and signage, high-visibility crosswalks, transit platforms, more street trees, and public art to make the pedestrian and transit-rider experience safer and more enjoyable
  %li A three-mile bikeway which will build a transformative link between Downtown and South Los Angeles, expand the City’s bicycle network and help to implement the City’s <a href="http://planning.lacity.org/Cwd/GnlPln/MobiltyElement/Text/MobilityPlan_2035.pdf">Mobility Plan 2035</a>.
  %li Bike lanes where bicycles will be separated from roadway traffic, decreasing injury crashes between non-motorized and motorized users.

%p The project is fully supported by Council District 9 and the Mayor’s Office as a “signature project” for Los Angeles. MyFigueroa is being managed locally by the Los Angeles Department of Transportation (LADOT).

%h1 Where is it?
%p The project area includes four miles of streets that stretch from Downtown LA  to South Los Angeles: Figueroa Street from 7th Street in downtown Los Angeles to 41st Street, just south of Exposition Park; 11th Street from Figueroa Street east to Broadway in the South Park neighborhood of downtown Los Angeles; and Martin Luther King Jr. Boulevard from Figueroa Street west to Vermont Avenue, on the south edge of Exposition Park. 

%h1 What is a complete street?
%p A movement around redesigning streets for people has been gaining momentum around the world. In American cities like Long Beach, New York, San Francisco, Minneapolis, Miami, Pittsburgh, Chicago, Portland, Austin and Memphis, similar "complete streets" projects have been implemented to better balance the needs of pedestrians, cyclists, transit riders and drivers. These projects show increased safety for all users and have proven to create a more vibrant, healthy community.
{{cms:file:streetdiagram.jpg:image}}
%p To learn more about complete streets, visit the City of LA’s newly approved <a href="http://planning.lacity.org/Cwd/GnlPln/MobiltyElement/Text/MobilityPlan_2035.pdf">Mobility Plan 2035</a>.

%h1 Who is paying for it?
%p The $20 million Figueroa Corridor Streetscape project is funded by a Proposition 1C grant. Proposition 1C funding improves infrastructure for new development in urban areas, with the goal of making streets, sidewalks and transit more accessible for residents of affordable housing. The grant requires construction of improvements to be completed by the end of 2016.

%h1 Why MyFig?

%h2 MyFigueroa is remaking Figueroa Street for people  
%p In other cities (like Long Beach, New York, San Francisco, Minneapolis, Miami, Pittsburgh, Chicago, Portland, Austin and Memphis) similar projects have been implemented which have proven to better balance the needs of pedestrians, cyclists, transit riders and motorists; these projects show increased safety for all users and create a more vibrant, healthy community. This project has the potential to dramatically transform the Figueroa Corridor from a regional freeway alternative into a more “complete” street that still maintains vehicular access, but also provides a safer, more comfortable local environment for pedestrians, cyclists, and transit riders.

%h2 MyFigueroa links Expo Park and USC to Downtown  
%p The Corridor is home to some of LA’s most notable landmarks and destinations, as well as a series of vibrant and diverse neighborhoods. It includes entertainment, corporate and commercial centers of Downtown’s Financial District and LA Live/Staples Center/LA Convention Center; the higher education institutions of USC, Mount Saint Mary’s and Los Angeles Trade Tech College; and the cultural landmarks in Exposition Park including the California Science Center, the Coliseum, the California African American Museum and the Natural History Museum. The enhanced Figueroa Corridor will create a unifying streetscape that links these destinations together. 

%h2 MyFigueroa creates a transformative new bike and pedestrian experience for the city
%p From Exposition Boulevard to 21st Street, the project will feature Downtown LA.’s first fully separated bike lanes: bike lanes separated from roadway traffic by a combination of physical barriers, parking lanes and bus platforms. Separated bike lanes are proven to dramatically enhance safety for all users of the street and increase bicycle ridership by providing a comfortable facility for a wide range of cycling abilities. In addition to the proposed streetscape improvements on Figueroa, streetscape enhancements on Martin Luther King Jr. Boulevard will enhance the pedestrian experience along the southern edge of Exposition Park, and 11th Street will be transformed with wide sidewalks and new landscaping.

%h1 What are the improvements?
%h2 Along Figueroa Street from 7th Street to Martin Luther King Jr. Blvd.
%h3 Bikeway Connections
%ul
  %li The proposed on-street separated bike lanes on each side of Figueroa will cross approximately 27 signalized intersections, including a light rail line at Exposition Boulevard toward the southern end of the bikeway.
  %li The bikeway will create a crucial link for a local cycling network—it will connect to a bicycle facility running east-west along Martin Luther King Jr. Blvd, the Exposition Line, as well as to bike lanes on Jefferson Street, 7th Street and 11th Street to the north in Downtown.
  %li The proposed on-street separated bike lanes will also connect to local and regional rail and bus systems along their entire length, with a large and expanding concentration of transit options toward the north end in Downtown LA at the 7th Street Metro Station.

%h3 Safety
%ul
  %li At many intersections on Figueroa, safety will be enhanced by modifying traffic signals to add separate bike signal heads. This modification will be combined with a bike box at the intersection to give cyclists a head start and to minimize conflicts with right-turning vehicles.
  %li Through intersections, and at conflict zones such as driveways, the on-street separated bicycle path will be demarcated with colored paint on the pavement in bicycle/vehicle and bicycle/pedestrian mixing areas, using special signage to alert cyclists and motorists to potential conflict areas.
  %li Bicycle Wrong Way signs will discourage travel in the non-intended direction within the bike facility.

%h3 Transit
%ul
  %li The Figueroa Corridor will create bus platforms to accommodate transit service, which currently includes Metro Local, Rapid and Silver Line Commuter Express service in an on-peak diamond lane, and LADOT DASH F Line service, as well as a new streetcar running northbound from 11th to 7th Street on Figueroa.
  %li Access to transit vehicles will be provided by curb ramps from the sidewalk to ADA accessible bus platforms just beyond the bicycle lanes in the street.  
  %li Transit waiting areas will be accommodated at existing bus stops on the sidewalks, with the bus platforms primarily for passenger boarding and alighting from transit vehicles.
  %li In constrained areas of the corridor, where on-street parking and transit platforms cannot be accommodated, or parking does not exist now, buses will load from the curb, as usual.

%h3 Separated Bike Lanes
%ul
  %li On-street, fully separated or painted, buffered bicycle lanes will run both northbound and southbound, adjacent to the curbs, from 7th Street at the northern end of the project (northbound-only in the one-way northbound section of the corridor), to Exposition Boulevard, near the southern end.
  %li A separated bike lane is a bike lane is placed along the curb, where the parking lane is traditionally found, and parking is relocated between the bike lane and the first lane of traffic. In the separated bike lane solution, the pedestrian on the sidewalk is further buffered from moving traffic by slower moving cyclists along the curb, who are protected by on-street parking and transit platforms for boarding buses as well as the coming-soon streetcar service on Figueroa north of 11th Street. Moving vehicles are accommodated just past this zone through traditional lanes. 

%h3 Vehicles
%ul
  %li Four vehicular lanes of traffic are accommodated, two southbound and two northbound, as well as a diamond lane for on-peak Silver Line and other express bus service.  A center turn lane is also provided, as well as right turn pockets as needed.
  %li In constrained segments of the corridor, including the segment of the corridor that is adjacent to the Los Angeles Convention Center, Staples Center and LA Live, and the narrow segment south of there to 21st Street, as well as a narrow section of the street south of Exposition, buffered bike lanes are being designed. In these segments, four vehicular lanes of traffic can be provided, as well as a center turn lane. In these areas of increased vehicular capacity, buses will still board at the existing curbs, and bike lanes will not be physically protected with on street barriers, or separate bike signals at intersections.

%h3 Street improvements
%ul
  %li Planned improvements on Figueroa also include: Retrofitted LED street lights, additional pedestrian-scale street lighting, pedestrian- and bicycle- oriented signage, street trees and planting areas, repaired sidewalk paving and enhanced paving at transit stops, high-visibility “continental” crosswalk treatments, transit furniture, and public art at transit stops.
  %li Existing curbs and gutters of the street will remain in place, saving dollars and simplifying the project.

%h2 Along 11th Street from Figueroa to Broadway
%ul
  %li Along six blocks of 11th Street in Downtown Los Angeles from Broadway to Figueroa (currently a one-way westbound street), the existing roadway vehicular lanes will be reduced from two lanes westbound, to one lane westbound.
  %li The single lane will ultimately accommodate both private vehicles and streetcars as part of the Downtown LA Streetcar’s proposal.
  %li On-street parking will be provided on the south side of the street, and will be protected with curb extensions at intersections.
  %li A one-way westbound bicycle facility will be provided on the street as well, and will be separated from moving traffic by a painted buffer. On the north side of the street, existing sidewalks will be expanded as possible, providing a much more generous pedestrian realm with planting and seating.
  %li The solution enhances this east-west corridor, providing important pedestrian and bicycle linkage to a major downtown entertainment destination, on a street fronted now with residential and some neighborhood commercial businesses. 

%h2 Along Martin Luther King Jr. Blvd from Figueroa to Vermont Avenue
%ul
  %li Improvements will be made to the pedestrian zone on the north side of the street by repairing the paving, increasing pedestrian scale lighting and adding street trees.
  %li On the south side of the street, the physical configuration of the sidewalk cannot be changed, but paving will be repaired and lighting improved as needed and possible.
  %li Transit waiting areas on both the north and south side of the street will be improved as needed, and to the extent that space constraints allow, and connections across the street facilitated by highly visible crosswalk striping.

%h1 Project History
%h2 The MyFigueroa project launched in 2010 and will be completed by December 2016
%p MyFigueroa was funded in 2010 by a $20 million Proposition 1C grant under the custodianship of the Community Redevelopment Agency of Los Angeles (CRA/LA). Proposition 1C funding improves infrastructure for new development in urban areas, with the goal of making streets, sidewalks and transit more accessible for residents of affordable housing. With the dissolution of the CRA/LA in 2011, the project was transitioned over to LADOT. The project is expected to be completed by December 2016.

%h1 Project Design Team
{{cms:file:team.jpg:image}}

