%main
  {{ cms:page:content }}

%footer.cf
  .footer-logo {{cms:file:logo-with-text.png:image}}
  .footer-legal
    .footer-legalline This is the where the legal byline will go when we have it.
    .footer-attr
      Site by <a href='http://compiler.la'>Compiler LA</a>
  .footer-contact
  .footer-social
    {{cms:file:icon-facebook-grey.svg:image}}
    {{cms:file:icon-instagram-grey.svg:image}}
    {{cms:file:icon-twitter-grey.svg:image}}