%main
  {{ cms:page:content }}

%footer.cf
  .cf
    .footer-logo {{cms:file:logo-with-text.png:image}}
    .footer-legal
      .footer-legalline This is the where the legal byline will go when we have it.
      .footer-attr
        Site by <a href='http://compiler.la' target='_blank'>Compiler LA</a>
    .footer-contact
    .footer-social
      %a{ href: 'https://www.facebook.com/silverlakeforward', target: '_blank' }
        {{cms:file:icon-facebook-grey.svg:image}}
      %a{ href: 'https://www.instagram.com/silverlakeforward', target: '_blank' }
        {{cms:file:icon-instagram-grey.svg:image}}
      %a{ href: 'https://twitter.com/SilverLakeFwd', target: '_blank' }
        {{cms:file:icon-twitter-grey.svg:image}}
