.bgmain
  .centercolumn
    %h1 {{cms:page:title:string}}
    %p
      %a.bigger{ target: '_blank', href: 'http://www.metro.net/riding/' } Fig out transit with Metro
    %br
    .getaroundoption
      .cf
        %dl
          %dt
            %a.spanlink{ target: '_blank', href: 'https://www.metro.net/projects/silverline/' }
            %span Metro <br />Silver Line
          %dd {{cms:file:silverline.jpg:image}}
        .getaroundmap
          {{cms:page:silverline}}

      .convenientfor
        %p Metro Silver Line is a rapid bus service that connects the South Bay and San Gabriel Valley to Downtown LA. 
        %span Convenient for
        %ul
          %li Civic Center
          %li Financial District
          %li Convention Center
          %li Staples Center
          %li LA Live
          %li Union Station
          %li South LA
          %li Harbor Transit Center
          %li San Gabriel Valley


    .getaroundoption
      .cf
        %dl
          %dt
            %a.spanlink{ target: '_blank', href: 'http://www.metro.net/projects/exposition/' }
            %span Metro Expo Line
          %dd {{cms:file:expoline.jpg:image}}
        .getaroundmap
          {{cms:page:expo_line}}

      .convenientfor
        %p The Metro Expo Line is a light rail line that connects the Westside to Downtown LA, along and near Exposition Blvd. 
        %span Convenient for
        %ul
          %li 7th Street
          %li Convention Center
          %li Staples Center
          %li LA Live
          %li USC
          %li Expo Park
          %li Crenshaw
          %li Culver City
        %aside ExpoLine Phase 2 Extension to West LA and Santa Monica opening in 2016

    .getaroundoption
      .cf
        %dl
          %dt
            %a.spanlink{ target: '_blank', href: 'https://www.metroexpresslanes.net/en/home/index.shtml' }
            %span Metro ExpressLanes
          %dd {{cms:file:110express.jpg:image}}
        .getaroundmap
          {{cms:page:expresslanes}}

      .convenientfor
        %p Metro ExpressLanes are carpool lanes that use congestion pricing to allow single passenger vehicles to pay to use the lanes. The funding from these tolls goes towards subsidzing transit and other projects along the 110 freeway (including this campaign to promote MyFigueroa!). To use the ExpressLanes, drivers must have a Fastrak, which can be purchased <a href='https://www.metroexpresslanes.net/en/home/index.shtml'>online</a> and at various vendors around LA. 
        %span Convenient for
        %ul
          %li USC
          %li South LA
          %li San Gabriel Valley
          %li Harbor Transit Center
        %aside During MyFigueroa construction, drivers exiting the ExpressLanes can take 


    .getaroundoption
      .cf
        %dl
          %dt
            %a.spanlink{ target: '_blank', href: 'http://www.bicyclela.org/fullscreenmap.html' }
            %span Bicycle
          %dd {{cms:file:bike.jpg:image}}
        .getaroundmap
          {{cms:page:bikemap}}

      .convenientfor
        %p MyFigueroa will bring safety improvements for bicyclists on Figueroa St, but there are already a lot of great routes for getting around the Downtown and USC area on a bike.
        %span Convenient for
        %ul
          %li USC
          %li Expo Park
          %li Staples Center
          %li Convention Center
          %li LA Live
          %li Staples Center
          %li Downtown
          %li Civic Center
          %li Union Station
          %li Westlake
          %li Many points beyond and in between!
