.bgmain
  .centercolumn.narrow
    %h1 {{cms:page:title:string}}
    %p {{cms:page:subtitle:rich_text}}
    
    .businessboxes
      %a.bluebox{ href: '{{cms:file:postersflyers.zip}}' }
        %dl
          %dt Share our poster or flyers
          %dd Get your customers excited about MyFig

      %details
        %summary
          %a.bluebox{ href: '#' }
            %dl
              %dt Embed a map on your site
              %dd Showcase new ways to get to your business
        %p Copy and past this code to embed a map on your site.
        %code
          %textarea{ onClick: "this.focus();this.select();" } {{cms:page:embed_code}}

      %a.bluebox{ target: '_blank', href: 'https://www.facebook.com/whatsyourfigueroa?fref=ts' }
        %dl
          %dt Share on social media
          %dd Get people talking

      %a.bluebox{ target: '_blank', href: 'https://ladotbikeblog.wordpress.com/bicycle-friendly-business-program/' }
        %dl
          %dt Become a bike-friendly business
          %dd Get support from LADOT to make your business bike-friendly
