$color-yellow: #E6B10F;
$color-blue: #092C74;
$color-grey: #F9F9F9;
$color-pale-blue: #F3FAFE;
$color-light-blue: #6EC4E8;

// Measurements
$bodymargin: 1.5em;
$contentwidth: 1024px;

// Fonts
$font-title: 'DayPosterBlack';
$font-body: 'Stag Sans';

// Animation
$animation-time: .08s;

// Reset

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family:$font-body;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color:$color-light-blue;
  text-decoration:none;
  transition:opacity $animation-time;
  opacity:1;

  &:hover {
    opacity:.8;
    transition:opacity $animation-time;
  }

  &.bigger {
    font-size:1.2em;
    color:$color-yellow;
    text-decoration:underline;
  }
}

body {
  background-color:$color-grey;
  color:rgba(#000, .87);
  font-family:$font-body;
  font-size:14px;
}

code {
  background-color:$color-pale-blue;
  padding:1rem;
  display:block;

  textarea {
    width:100%;
    height:100px;
    background:none;
    border:none;
    outline:none;
    resize:none;
    font-size:1rem;
  }
}

details {
  ::-webkit-details-marker { display:none; }
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom:1rem;
}

h1 {
  font-size:30px;
  font-weight:bold;
}

h2 {
  font-size:24px;
  color:$color-yellow;
}

h3 {
  font-size:18px;
  color:$color-blue;
  font-style:italic;
}

h1 + h2 {
  // margin-top:2rem;
}

p + h2, ul + h3, ul + h2, img + h1 {
  margin-top:2rem;
}

ul + h1, p + h1 {
  margin-top:3rem;
}

p, ul, ol {
  line-height:24px;
  margin-bottom:1rem;

  &:last-child {
    margin-bottom:0;
  }
}

ul {
  li {
    border-left:3px solid $color-yellow;
    padding-left:1rem;
    margin-bottom:1rem;
  }
}

/* End reset */

#homehero-wrap {
  height:100vh;
}

#homehero {
  position:relative;
  width:100%;
  height:inherit;
  display:inline-block;
  float:left;
}

#homehero-img, #homehero-imggrid, #homehero-overlay {
  position:absolute;
  top:0;
  height:100%;
  width:100%;
}

#homehero-img {
  background-size:cover;
  background-position:center center;
}

#homehero-imggrid {
  opacity:.05;
}

#homehero-overlay {
  background-color:rgba(#000, .22);
}

#homehero-titlewrap {
  color:#fff;
  position:absolute;
  left:0;
  width:380px;
  bottom:30vh;
  background: -moz-linear-gradient(left, rgba(0,0,0,0.33) 0%, rgba(0,0,0,0) 100%);
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%);
  background: linear-gradient(to right, rgba(0,0,0,0.33) 0%,rgba(0,0,0,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#54000000', endColorstr='#00000000',GradientType=1 );
  padding:2rem;
}

.homehero-title {
  text-transform:uppercase;
  font-family:$font-title;
  font-size:22px;
  margin-bottom:10px;
}

.homehero-subtitle {
  line-height:20px;

  strong {
    font-weight:bold;
  }
}

#homehero-wrap.loaded {
  #homehero {
    width:61.8%;
    transition:width .5s;
  }

  #homerenderings {
    width:38.2%;
    transition: width .5s;
  }
}

#homerenderings {
  float:left;
  background-color:#111;
  width:0;
  height:100%;

  & > div {
    height:33.33333vh;
    background-repeat:no-repeat;
    background-position:center -115px;
  }
}